@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/ostrich-regular-webfont.eot');
    src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-regular-webfont.woff2') format('woff2'), url('../fonts/ostrich-regular-webfont.woff') format('woff'), url('../fonts/ostrich-regular-webfont.ttf') format('truetype'), url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    min-width: 1300px;
    max-width: 1600px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.top-grad {
    width: 1200px;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -600px;
}

.arrow-intro {
    font-family: 'Ostrich Sans';
    background: url('../img/arrows.png') center no-repeat;
    font-size: 40px;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.whitebox {
    top: 760px;
    left: 50%;
    margin-left: -600px;
}

.graybox1 {
    top: 1375px;
    left: 50%;
    margin-left: -600px;
}

.graybox2 {
    top: 2247px;
    left: 50%;
    margin-left: -600px;
}

.tealbox1 {
    top: 1845px;
    left: 50%;
    margin-left: -600px;
}

.tealbox2 {
    top: 2695px;
    left: 50%;
    margin-left: -600px;
}

.number {
    height: 150px;
    width: 150px;
    background-size: 150px 150px;
}

.one {
    background: url('../img/one.png') no-repeat;
    position: absolute;
    top: 1375px;
    left: 20%;
}

.two {
    background: url('../img/two.png') no-repeat;
    position: absolute;
    top: 1760px;
    left: 65%;
}

.three {
    background: url('../img/three.png') no-repeat;
    position: absolute;
    top: 2240px;
    left: 31%;
}

.four {
    background: url('../img/four.png') no-repeat;
    position: absolute;
    top: 2640px;
    left: 55%;
}

.one:hover {
    background: url('../img/hover-one.png') no-repeat;
}

.two:hover {
    background: url('../img/hover-two.png') no-repeat;
}

.three:hover {
    background: url('../img/hover-three.png') no-repeat;
}

.four:hover {
    background: url('../img/hover-four.png') no-repeat;
}

.img-background {
    width: 1200px;
    z-index: -1;
    position: absolute;
}

.text-gray {
    color: #818285;
}

.text-teal {
    color: #81cbce;
}

.text-yellow {
    color: #f5ed31;
}

.text-red {
    color: #ef3f37;
}

.text-light {
    color: #939089;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 30px;
}

.text-large {
    font-size: 40px;
}

.single {
    line-height: 100%;
}

.text {
    font-family: 'Open Sans';
    margin: 20px 0 0 0;
}

.sub-title {
    font-size: 50px;
    margin: 50px 0 0 0;
}

.intro-text {
    margin: 400px 0 0 0;
}

.heading {
    font-size: 50px;
}

#struct {
    position: absolute;
    top: 1500px;
    left: 20%;
}

#writing {
    position: absolute;
    top: 1895px;
    left: 60%;
}

#in {
    position: absolute;
    top: 2380px;
    left: 25%;
}

#ref {
    position: absolute;
    top: 2775px;
    left: 52%;
}

#title {
    position: absolute;
    top: 1515px;
    left: 50%;
}

#properly {
    position: absolute;
    top: 1950px;
    left: 15%;
}

#authors {
    position: absolute;
    top: 2390px;
    left: 65%;
}

#info {
    margin-top: 150px;
}
