@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/ostrich-regular-webfont.eot');
    src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-regular-webfont.woff2') format('woff2'), url('../fonts/ostrich-regular-webfont.woff') format('woff'), url('../fonts/ostrich-regular-webfont.ttf') format('truetype'), url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

html,
body {
    font-family: 'Open Sans';
    min-width: 1200px;
}

section {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.break-word {
    word-wrap: break-word;
}

.arrow-intro {
    background: url('../img/arrows.png') no-repeat center;
    background-size: ;
    font-family: 'Ostrich Sans';
    font-size: 35px;
}

.heading {
    font-family: 'Ostrich Sans';
    font-size: 80px;
}

.ostrich-sans {
    font-family: 'Ostrich Sans';
}

.text {
    font-family: 'Open Sans';
    font-size: 16px;
}

.double-space {
    line-height: 200%;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.sub-title {
    color: #ccc;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.graybackground {
    background-color: #;
}

#scene-3 {
    background: url('../img/top-bg.png') no-repeat;
    background-size: 100% 100%;
    height: 650px;
}

#scene-4 {
    background: url('../img/grendel-text.png') no-repeat;
    background-size: 100% 100%;
}

#scene-5 {
    background: url('../img/bottom-bg.png') no-repeat;
    background-size: 100% 100%;
    height: 850px;
}

#scene-6 {
    background: url('../img/wall.png') no-repeat;
    background-size: 100%;
    height: 500px;
    margin: 5% 0 0 0;
}

#scene-7 {
    margin: 0% 0 60% 0;
    background: url('../img/scene-7-top.png') no-repeat center;
    background-size: 100% 100%;
    height: 1400px
}

#scene-8 {
    background: url('../img/scene-8-bg.png') no-repeat;
    background-size: 100% 100%;
    height: 1500px;
}

#scene-9 {
    background: url('../img/scene-9-back.png') no-repeat;
    background-size: 100% 100%;
}

#scene-10 {
    height: 1100px;
}

#scene-11 {
    height: 2200px;
}

#scene-12 {}

#intro {
    background: url('../img/intro-bg.png') no-repeat center;
    background-size: 100% 100%;
}

#warrior-back {
    background: url('../img/warrior-back-drop.png') no-repeat;
    background-size: 100%;
}

#text-box {
    background: url('../img/scene-5-back.png') no-repeat;
    background-size: 100%;
}

#snow1 {
    position: absolute;
    width: 100%;
    height: 100%;
}
