@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/ostrich-regular-webfont.eot');
    src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-regular-webfont.woff2') format('woff2'), url('../fonts/ostrich-regular-webfont.woff') format('woff'), url('../fonts/ostrich-regular-webfont.ttf') format('truetype'), url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    min-height: 100%;
}

section {
    position: relative;
    margin: 0 auto;
}

img {
    display: block;
}

.arrow-intro {
    background: url(../img/arrows.png) no-repeat center;
    font-family: 'Ostrich Sans';
    font-size: 32px;
}

.heading {
    font-family: 'Ostrich Sans';
}

.grendel-info {
    font-size: 14px;
    font-family: 'Open Sans';
}

.center {
    text-align: center;
}

.sub-title {
    color: #ccc;
}

.container {
    max-width: 1052px;
    margin: 0 auto;
}

#intro {
    background: url('../img/intro-bg.png') no-repeat center center;
    height: 100vh;
}
